<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link type ="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"></link>
<title>table of notes</title>
</head>
<body>
	<div th:fragment="markasdonetable(endpoint)">
	<h2>Do</h2>
	<table class=" table table-striped">
	<tr th:each="note : ${notesnotdone}">
	<td th:text="${note.getDate()}"/>
	<td th:text="${note.getTime()}"/>
	<td th:text="${note.getContent()}"/>
	<!-- -
	<td th:text="${note.getImportant()}" th:class="${note.getImportant() == true} ? 'green' : 'red'"/>
	 -->
	
	<td th:text="${note.getRepeat()}"/>
	<!-- <td><a th:href ="@{/done/{id}(id=${note.id})}" class="btn btn-success">Mark as done</a></td> -->
	<td><a th:href =(endpoint) class="btn btn-success">Mark as done</a></td>
	<td>
	<td><a th:href ="@{/edit/{id}(id=${note.id})}" class="btn btn-success">Edit</a></td>
	</table>
	
	<h2>Done</h2>
	
	<table class=" table table-striped">
	<tr th:each="note : ${notesdone}">
	<td th:text="${note.getDate()}"/>
	<td th:text="${note.getTime()}"/>
	<td th:text="${note.getContent()}"/>
	<!-- -
	<td th:text="${note.getImportant()}" th:class="${note.getImportant() == true} ? 'green' : 'red'"/>
	 -->
	
	<td th:text="${note.getRepeat()}"/>
	<td><a th:href ="@{/done/{id}(id=${note.id})}" class="btn btn-danger">Put back on todo-list</a></td>
	<td><a th:href ="@{/edit/{id}(id=${note.id})}" class="btn btn-success">Edit</a></td>
	<td>
	</table>
	</div>

</body>
</html>