<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link type ="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"></link>
<title>List of todos</title>
</head>
<body>
	<div th:insert="fragments/navbar :: navbar"></div>
	<p margin =200px>
		<h1>Old notes</h1>
		<a href="/notelist" class="btn btn-success">Back</a>
	</p>
	<div th:insert="fragments/listalltable :: table"></div>
</body>
</html>